*.qcow2
*.img
*.raw

out/
*.iso
lb/.build/
lb/cache/
lb/chroot/
lb/binary/
lb/.stage/
lb/*.log
lb/config/package-lists/arch.list.chroot
lb/config/includes.chroot/opt/arcader/

# Rust build artifacts
installer-gui/target/
.cargo-registry/
lb/config/includes.chroot/usr/local/bin/arcader-installer

.idea/
.DS_Store
Thumbs.db
*~
